---
permalink: "index.html"
---

{% extends "_layouts/default.njk" %}

{% set pageTitle = 'Gulp firestarter 2020 (v1.0.0)' %}

{% block main %}
    {% include '_partials/partial.njk' %}

    <p class="tracking-wide py-2">
        <a href="https://gitlab.com/redpop/gulp-firestarter-2020"
           class="text-gray-600 hover:text-gray-500 transition duration-200">https://gitlab.com/redpop/gulp-firestarter-2020</a>
    </p>
{% endblock %}
