<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body class="bg-gray-900">
<main class="flex flex-col items-center justify-center h-screen divide-y divide-gray-700">
    {% block main %}{% endblock %}
</main>
<script src="/js/app.js"></script>
</body>
</html>
